---
layout: default
redirect_from:
  - /knowledge-base/
---
{% assign page.title = site.name %}

<div class="component-container">
    {% assign categories = site.data.summary | where: "enable", "true" %}
    {% for category in categories %}
        <h2 id="{{ category.id }}" class="text-center">{{ category.name }}</h2>
        {% if category.children %}
        <div class="row">
            {% assign components = category.children | where: "enable", "true" %}
            {% for component in components %}
            <div class="col-sm-12 col-md-12 col-lg-3 block">
                <div class="component">
                    <a href="{{ component.url }}" target="_blank">
                        <div class="component-icon">
                            <img src="{{ component.avatar | prepend: "/.assets/images/avatar/" | relative_url }}" alt="{{ component.title }}">
                        </div>
                        <h3 id="{{ component.id }}">{{ component.title }}</h3>
                    </a>
                    <p>{{ component.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>
