<div class="container-fluid" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);">
    <div class="row">
        <nav class="nav-primary">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="primary nav navbar-nav pos rel right">
                        <li>
                            <a class="fa fa-home" href="{{ '/' | relative_url }}">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="pos abs right">
                            <a class="fa fa-github" href="{{site.repourl}}" target="_blank">
                                <span>GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
