<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
	<base href="{{ page.url }}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description | default: site.description }}" />
	<meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
	<link rel="canonical" href="{{ page.url }}" />

	<!-- favicon -->
	<link rel="icon" type="image/x-icon" href="{{ '/.assets/images/logo.svg' | relative_url }}" sizes="128x128">
	<link rel="apple-touch-icon" type="image/x-icon" href="{{ '/.assets/images/logo.svg' | relative_url }}" sizes="128x128">

	<link rel="stylesheet" href="{{ '.assets/css/font-awesome.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '.assets/css/bootstrap.min.css' | relative_url }}">
	<!-- <link id="pygments" rel="stylesheet" href="{{ '.assets/css/highlight.css' | relative_url }}"> -->
	<link id="pagestyle" rel="stylesheet" href="{{ '.assets/css/style.css' | relative_url }}">

	<!-- "Open Sans" font from Google -->
	<link href="{{ '.assets/css/open-sans.css' | relative_url }}" rel="stylesheet">

	<!-- SEO stuff -->
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{{ 'favicon.ico' | relative_url }}"/>
	<meta property="og:updated_time" itemprop="dateUpdated" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}"/>
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="{{ site.name }}" />
	<script type="application/ld+json">
	{"@context":"http://schema.org","@type":"WebPage","headline":"{{ page.title }}","description":"{{ page.description }}","url":"{{ page.url | absolute_url }}"}
	</script>
	<!-- END SEO STUFF -->

	<style type="text/css">
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}
	</style>
</head>

<body ng-app="Kbase" ng-controller="KbaseController" class="colums">
    <!-- Header -->
	{% include header.html %}

	<div class="wrapper right-open">
		<div class="container-fluid">
			<div class="row">
				<div class="col-body">
					<!-- main content -->
					<main class="col-content content" style="max-width: none">{{ content }}</main>
				</div>
			</div>
		</div>
	</div>

	{% include footer.html %}
</body>

</html>
